@use '_currentWeather';
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&family=Courgette&family=Montserrat:wght@100&family=Nunito+Sans:wght@200&display=swap");

* {
    padding: 0px;
    margin: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: antiquewhite;
    background: url(../SCSS/IMAGES/clear.jpg) no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
  }
  body {
    background-color: hsl(208, 80%, 10%);
  }